html{background:#c7518c}
form {
    text-align: center;
margin-top: 45px;
background:#c7518c
}
.textHead{
    text-shadow:
    2px 2px 0 rgb(230, 152, 8),
    2px -1px 0 orange,
    -1px 1px 0 orange,
    -1px -1px 0 orange;
  color: rgb(7, 7, 165);
  transition: all 1s;
}

 .closebutton{
    font-size: 15px;
    background: rgb(163, 6, 6);
margin-top: auto;
display: flex; flex-direction: column;
} 
 .outputLine{
    background: rgb(180, 132, 168);
    margin:10px 0 0 0;
    width: 150px;
    height: 50px;

}
.containerEnter{
    text-align: center;
}
.conclusionTodo{
    text-align: center;
}